*{
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    background-color:#312442 ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    color: white;
}

header{
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 5px;
    background-color: rgba(169, 169, 169, .1);
    border-radius: 25px;
}

h1{
    font-size: 45px;
    padding-left: 20px;
    color: rgba(171, 92, 231, 0.892);
}

.conteiner{
    position: relative;
    width: 320px;
    margin: 100px auto 0px auto;
    perspective: 900px;
}

.carrossel{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate360 20s infinite forwards linear;
}

.imagem{
    position: absolute;
    width: 290px;
    height: 187px;
    top: 0px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, .4);
    display: flex;

}

.imagem span{
    margin: auto;
    font-size: 1em;
}

@keyframes rotate360 {
    fron{
        transform: rotateY(0deg);
    }

    to{
        transform: rotateY(-360deg);
    }
}

.imagem:nth-child(1){
    background-image: url(https://www.stockvault.net/data/2010/10/22/115473/preview16.jpg);
    transform: rotateY(0deg) translateZ(430px);
}

.imagem:nth-child(2){
    background-image: url(https://www.stockvault.net/data/2009/05/03/108793/preview16.jpg);
    transform: rotateY(40deg) translateZ(430px);
}

.imagem:nth-child(3){
    background-image: url(https://www.stockvault.net/data/2007/03/01/96525/preview16.jpg);
    transform: rotateY(80deg) translateZ(430px);
}

.imagem:nth-child(4){
    background-image: url(https://www.stockvault.net/data/2020/02/28/273441/preview16.jpg);
    transform: rotateY(120deg) translateZ(430px);
}

.imagem:nth-child(5){
    background-image: url(https://www.stockvault.net/data/2011/02/06/117456/preview16.jpg);
    transform: rotateY(160deg) translateZ(430px);
}

.imagem:nth-child(6){
    background-image: url(https://www.stockvault.net/data/2010/03/11/113202/preview16.jpg);
    transform: rotateY(200deg) translateZ(430px);
}

.imagem:nth-child(7){
    background-image: url(https://www.stockvault.net/data/2011/09/25/127092/preview16.jpg);
    transform: rotateY(240deg) translateZ(430px);
}

.imagem:nth-child(8){
    background-image: url(https://www.stockvault.net/data/2008/09/02/106231/preview16.jpg);
    transform: rotateY(280deg) translateZ(430px);
}

.imagem:nth-child(9){
    background-image: url(https://www.stockvault.net/data/2012/09/03/134873/preview16.jpg);
    transform: rotateY(320deg) translateZ(430px);
}

footer{
    padding-bottom: 5px;
    position: absolute;
    bottom: 0px;
    font-size: 15px;
    margin-left: 10px;
    background-color: rgba(131, 93, 185, 0.2);
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
